/* Stijlen voor de gehele webpagina */
body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    /* font-family: "Anton", sans-serif; */
    -webkit-font-smoothing: antialiased;
}

/* Stijlen voor de container */
.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
    font-family: sans-serif;
}

/* Stijlen voor de paginatitel */
.titel {
    text-align: center;
    color: #e8e8e8;
}

/* Stijlen voor het formulier */
.form {
    font-family:sans-serif;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #4c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

/* Stijlen voor de FAQ-sectie */
.faq1 {
    
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 10px;
}

/* Stijlen voor FAQ-vragen */
.faqVraag {
    color: #e8e8e8;
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

/* Stijlen voor FAQ-antwoorden */
.faqAntwoord {
    color: #e8e8e8;
    text-align: center;
    font-size: 16px;
}

/* Responsieve stijlen */
@media only screen and (max-width: 850px) {
    /* Aanpassing voor het formulier in responsieve modus */
    .form {
        width: 100%;
        margin-left: 0%;
        padding-bottom: 15px;
        margin-top: 15px;
        padding-top: 11px;
        background-color: #5c20a1;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 10px #888888;
    }
}
