body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: 'Anton', sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.help {
    text-align: center;
}