body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: 'Anton', sans-serif;
}


.rechts {
    position: absolute;
    right: 150px;
}

.onderwerp {
    padding-top: 60px;
    padding-left: 85px;
    font-size: 52px;
    color: #5c20a1;
    text-decoration: underline;
}

.over {

}

.subh {
    color: #5c20a1;
    text-align: center;
    padding-top: 103px;
    font-size: 45px;
}

.infotext {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
}