body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: 'Anton', sans-serif;
}
.grid-container {

    display: grid;

    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  .grid-container .rechts {
        display: flex;
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 5;
      position: absolute;
      right: 150px;
    }
    .grid-container .info {
        display: grid;
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .grid-container .onderwerp {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 60px;
    padding-left: 85px;
    font-size: 52px;
    color: #5c20a1;
    text-decoration: underline;
}

.over {
display: flex;
flex-direction: column;
justify-content: center;
}

.subh {
    padding-top: 20px;
 text-align: center;
 color: #5c20a1;
}

.infotext {
text-align: center;
color: #5c20a1;
}

.grid-container .info {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 13;
}
.grid-container #foto_computer {
    display: flex;
    grid-row-start: 5;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 9;
    /* display: block; */
}

#foto_telefoon {
    display: none;
}

@media only screen and (max-width: 850px) {

    .grid-container .onderwerp {
        font-size: 46px;
    }

    .grid-container #foto_computer {
        display: none;
    }
    .grid-container .rechts {
        position: relative;
        width: 100%;
    }
    
    #foto_telefoon {
        position: absolute;
        top: 328px;
        display: block;
        width: 400px;
        height: 400px;
    }


    .onderwerp {
        font-size: 22px;
        position: relative;
        z-index: 100;
    }
}