body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: "Anton", sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.form {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

.buttonuit {
    font-size: 16px;
    box-shadow: 1px 4px;
}

.buttonuit:hover {
    cursor: pointer;
}

#uitjeZien {
    font-size: 16px;
    box-shadow: 1px 4px;
    padding: 10px;
    margin-top: 30px;
}

#uitjeZien:hover {
    cursor: pointer;
}

.alleUitjes {
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#soortUitje {
    margin-left: 10px;
}

.joinUitje {
    float: right;
    width: 101px;
    height: 36px;
}

.bewerkUitje {
    margin-bottom: 15px;
    float: right;
    width: 101px;
    height: 36px;
}

/* RESPONSIVE */
@media only screen and (max-width: 850px) {
    .form {
        width: 80%;
        margin-left: 11%;
        margin-top: 86px;
    }
    .buttonuit {
        margin-top: 30px;
        height: 23px;
    }

    #uit {
        margin-bottom: 30px;
        height: 23px;
    }

    #prijs {
        height: 23px;
    }

    .inputVeld {
        margin-right: 13px;
    }

    .joinUitje {
        width: 102px;
        height: 30px;
    }

    .bewerkUitje {
        margin-bottom: 30px;
        height: 30px;
    }

    #uitjeZien {
        margin-left: 108px;
    }
}
