/* Algemene stijlen voor de webpagina */
body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    /* font-family: "Anton", sans-serif; */
}

/* Stijlen voor de container */
.container {
    font-family: sans-serif;
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

/* Stijlen voor het uitje */
.uitje {
    font-family: sans-serif;
    color: #e8e8e8;
    width: 60%;
    height: 300px;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

/* Stijlen voor namen */
.namen {
    color: #e8e8e8;
    position: relative;
    right: 272px;
    top: 26px;
}

/* Extra stijlen voor namen */
.namen2 {
    position: relative;
    top: 4px;
    right: 72px;
    font-size: 18px;
}

/* Stijlen voor de knop om te sturen */
.knopsturen {
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    right: 460px;
    bottom: 481px;
    font-size: 16px;
    box-shadow: 1px 4px;
}

/* Stijlen voor de knop bij hover */
.knopsturen:hover {
    cursor: pointer;
}

/* Stijlen voor koppelingen binnen het uitje */
.uitje a {
    position: relative;
    left: 364px;
    bottom: -149px;
    color: #e8e8e8;
    text-decoration: none;
}

/* Stijlen voor de naam van het uitje */
#uitjeNaam {
    margin-right: 15px;
    position: relative;
    right: 265px;
    top: 30px;
    width: fit-content;
    height: fit-content;
}

/* Stijlen voor de prijs van het uitje */
#uitjePrijs {
    position: relative;
    right: 448px;
    top: 75px;
    width: fit-content;
    height: fit-content;
}

/* Responsieve stijlen voor schermen kleiner dan 850px */
@media only screen and (max-width: 850px) {
    /* Responsieve stijlen voor het uitje */
    .uitje {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        position: relative;
        top: 108px;
        left: 24px;
        height: 227px;
    }

    /* Responsieve stijlen voor de knop om te sturen */
    .knopsturen {
        position: relative;
        left: 10px;
        top: 128px;
        font-size: 19px;
    }

    /* Responsieve stijlen voor namen */
    .namen {
        position: relative;
        left: -82px;
        top: 11px;
    }

    /* Extra responsieve stijlen voor namen */
    .namen2 {
        position: relative;
        left: 67px;
        top: -16px;
        font-size: 20px;
    }

    /* Responsieve stijlen voor de knop bij hover */
    .knopsturen {
        font-size: 19px;
    }

    /* Responsieve stijlen voor wijzigknop */
    #wijzig {
        position: relative;
        top: -9px;
        left: 314px;
        width: 85px;
    }

    /* Responsieve stijlen voor de naam van het uitje */
    #uitjeNaam {
        margin-right: 15px;
        position: relative;
        right: 7px;
        top: -47px;
        width: 212px;
    }

    /* Responsieve stijlen voor de prijs van het uitje */
    #uitjePrijs {
        position: relative;
        right: 233px;
        top: 20px;
        width: 165px;
    }
}
