body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: 'Anton', sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.uitje {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

.knopsturen {
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    right: 330px;
    bottom: 555px;
    font-size: 16px;
    box-shadow: 1px 4px ;
}


.uitje a {
    position: relative;
    left: -162px;
    color:#e8e8e8;
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    .uitje {
        width: 100%;
        margin-top: 86px;
        margin-left: 0%;
        margin-right: 0%;
        height: 227px;
    }

    .knopsturen {
        position: relative;
        left: 10px;
        top: 128px;
    }

    .namen2 {
        position: relative;
        left: 10px;
        top: 23px;
        font-size: 20px;
    }

    .knopsturen {
        font-size: 19px;
    }

    #wijzig {
        position: relative;
        top: -60px;
        left: 35px;
    }
}