body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    /* font-family: "Anton", sans-serif; */
}

/* Stijlen voor de container */
.container {
    font-family: sans-serif;
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

/* Stijlen voor het formulier */
.form {
    color: #e8e8e8;
    font-family: sans-serif;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

/* Stijlen voor knoppen */
.buttonuit {
    font-size: 16px;
    box-shadow: 1px 4px;
    margin-top: 44px;
}

.buttonuit:hover {
    cursor: pointer;
}

/* Stijlen voor de knop 'Uitjes Zien' */
#uitjeZien {
    font-size: 16px;
    box-shadow: 1px 4px;
    padding: 10px;
    margin-top: 30px;
}

#uitjeZien:hover {
    cursor: pointer;
}

/* Stijlen voor alle uitjes */
.alleUitjes {
    font-family: sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Stijlen voor de beschrijving van een uitje */
#soortUitje {
    margin-left: 10px;
}

/* Stijlen voor de knop om aan een uitje deel te nemen */
.joinUitje {
    color: #e8e8e8;
    float: right;
    width: 101px;
    height: 36px;
    position: relative;
    top: -43px;
    background-color: #5c20a1;
}

.joinUitje:hover {
    cursor: pointer;
}

/* Stijlen voor de knop om een uitje aan te passen */
.bewerkUitje {
    margin-bottom: 15px;
    float: right;
    width: 101px;
    height: 36px;
    position: relative;
    top: -55px;
    background-color: #2eb807;
}

.bewerkUitje:hover {
    cursor: pointer;
    background-color: #1eb706;
}

/* Stijlen voor de knop om een uitje af te sluiten */
.sluitUitje {
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.spanUitje {
    position: relative;
    top: 0px;
}

.spanPrijs {
    position: relative;
    top: 20px;
}

#uit {
    position: relative;
    top: 0px;
}

#prijs {
    position: relative;
    top: 20px;
}

/* Responsieve stijlen */
@media only screen and (max-width: 850px) {
    /* Aanpassing voor het formulier in responsieve modus */
    .form {
        width: 80%;
        margin-left: 11%;
        margin-top: 86px;
    }

    /* Aanpassing voor knop 'Uitjes Zien' in responsieve modus */
    #uitjeZien {
        margin-left: 108px;
    }

    /* Aanpassing voor de knop om aan een uitje deel te nemen in responsieve modus */
    .joinUitje {
        width: 102px;
        height: fit-content;
        position: relative;
        top: -40px;
    }

    /* Aanpassing voor de knop om een uitje aan te passen in responsieve modus */
    .bewerkUitje {
        margin-bottom: 30px;
        height: fit-content;
        position: relative;
        top: -56px;
    }

    .buttonuit {
        font-size: 16px;
        box-shadow: 1px 4px;
        margin-top: 69px;
    }
    /* Aanpassing voor de knop om een uitje af te sluiten in responsieve modus */
    .sluitUitje {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;
    }

    .spanUitje {
        position: relative;
        top: 0px;
    }

    .spanPrijs {
        position: relative;
        top: 30px;
    }

    #uit {
        position: relative;
        top: 0px;
    }

    #prijs {
        position: relative;
        top: 30px;
    }
}
