body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: "Anton", sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.uitje {
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

.textBewerk {
    position: relative;
    left: 350px;
}

.prijsNaam {
    display: flex;
}

.bewerkDiv {
    display: flex;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;
}

#uitjeNaam {
    margin-right: 15px;
    position: relative;
    left: -146px;
    top: 13px;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
}

#prijsUitje {
    position: relative;
    right: 344px;
    bottom: 13px;
    width: fit-content;
    font-weight: bold;
    height: fit-content;
}

#persoonNaam {
    margin-right: 15px;
    bottom: 479px;
}

#voegDeelnemer {
    position: relative;
    left: -166px;
    top: 27px;
}
#form1 {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    top: 12px;
    left: 5px;
}

div button {
    margin-left: 15px;
    font-size: 16px;
    box-shadow: 1px 4px;
}

button:hover {
    cursor: pointer;
}

div #betaling {
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 22px;
    left: 10px;

}

@media only screen and (max-width: 850px) {
    .uitje {
        width: 100%;
        margin-top: 86px;
        margin-left: 0%;
        margin-right: 0%;
        height: fit-content;
    }

    .bewerkDiv {
        border-width: 2px;
        border-style: solid;
        border-color: #333;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #uitjeNaam {
        position: relative;
        left: 7px;
        top: 10px;
        width: fit-content;
        height: fit-content;
    }
    #prijsUitje {
        position: relative;
        left: -5px;
        top: 10px;
        height: fit-content;
        width: fit-content;
    }

    #personenText {
        font-size: 20px;
        position: relative;
        top: 10px;
        left: 10px;
    }

    #persoonNaam {
        font-size: 20px;
        position: relative;
        top: -19px;
        left: 10px;
    }

    #pVoorBedrag {
        position: relative;
        top: -39px;
        left: 10px;
    }

    #form1 {
        position: relative;
        left: 159px;
        top: -103px;
    }
    #betaling {
        position: relative;
        left: 111px;
        top: -43px;
    }

    #voegDeelnemer {
        position: relative;
        left: -166px;
        top: 27px;
    }
}
