body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: "Anton", sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.uitje {
    width: 60%;
    height: 300px;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

.namen {
    position: relative;
    right: 272px;
    top: 26px;
}

.namen2 {
    position: relative;
    top: 0px;
    right: 125px;
    font-size: 18px;
}

.knopsturen {
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
    right: 460px;
    bottom: 481px;
    font-size: 16px;
    box-shadow: 1px 4px;
}

.knopsturen:hover {
    background-color: ;
    cursor: pointer;
}

.uitje a {
    position: relative;
    left: 364px;
    bottom: -149px;
    color: #e8e8e8;
    text-decoration: none;
}

#uitjeNaam {
    margin-right: 15px;
    position: relative;
    right: 220px;
    top: 30px;
}

#uitjePrijs {
    position: relative;
    right: 429px;
    top: 75px;
}

@media only screen and (max-width: 850px) {
    .uitje {
        width: 100%;
        margin-top: 86px;
        margin-left: 0%;
        margin-right: 0%;
        height: 227px;
    }

    .knopsturen {
        position: relative;
        left: 10px;
        top: 128px;
    }

    .namen {
        position: relative;
        left: -82px;
        top: 11px;
    }
    .namen2 {
        position: relative;
        left: 67px;
        top: -16px;
        font-size: 20px;
    }

    .knopsturen {
        font-size: 19px;
    }

    #wijzig {
        position: relative;
        top: -9px;
        left: 314px;
        width: 85px;
    }

    #uitjeNaam {
        margin-right: 15px;
        position: relative;
        right: 7px;
        top: -47px;
        width: 212px;
    }

    #uitjePrijs {
        position: relative;
        right: 233px;
        top: 20px;
        width: 165px;
    }
}
