body {
    font-size: 1.2em;
    background-color: #e8e8e8;
    font-family: 'Anton', sans-serif;
}

.container {
    background-color: #eddbda;
    width: 33%;
    border-radius: 33%;
}

.uitje {
    width: 60%;
    height: 500px;
    margin-left: 20%;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 11px;
    background-color: #5c20a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px #888888;
}

.textBewerk {
    position: absolute;
    left: 350px;
}

.prijsNaam {
    display: flex;
}

#uitjeNaam {
    margin-right: 15px;
    position: absolute;
    left: 350px;
    bottom: 479px;
}

#prijsUitje {
    position: absolute;
    left: 350px;
    bottom: 436px;
}

#persoonNaam {
    margin-right: 15px;
    bottom: 479px;
}

div input {
    width: 55px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

div button {
    margin-left: 15px;
    font-size: 16px;
    box-shadow: 1px 4px ;
}

div #betaling {
    font-size: 12px;
    width: 70px;
    height: 50px;
}